@{
    if ((bool)ViewData["StatusConfirm"])
    {
        <h4>Поздравляю! Вы прошли авторизацию аккаунта.</h4>
    }
    else
    {
        <h4>Что-то пошло не так!</h4>
        <p>Не получилось авторизировать аккаунт, возможно ссылка устарелка, пройдите регистрацию заново.</p>
        <p>[ERROR MESSAGE]: @ViewData["ErrorsConfirm"]</p>
    }
}




